# Automatic adjust screen bright when power source is changed
SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", RUN+="/usr/bin/light -S 50"
SUBSYSTEM=="power_supply", ATTR{status}!="Discharging", RUN+="/usr/bin/light -S 100"
