KERNEL=="card0", SUBSYSTEM=="drm", ACTION=="change", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/alexandreprates/.Xauthority", RUN+="/usr/local/bin/_configure_display"
KERNEL=="card0", SUBSYSTEM=="drm", ACTION=="change", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/alexandreprates/.Xauthority", RUN+="/usr/local/bin/_configure_workspaces"
